<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>Social Syntax</title>
        <link rel="stylesheet" href="/style.css">
    </head>

    <body class="secondary">
        <main class="container secondary">{{{ body }}}</main>

    </body>
</html>