<header>
    <nav>
        <button><a href="/home">Home</a></button>
        <button><a href="/profile">Profile</a></button>
        <button id="logout">Logout</button>
    </nav>
</header>

{{#each posts as |post| }}
<div class="row mb-4 project">
    <div class="col-md-5">
        <div>{{post.user.name}} {{format_date post.date_created}}</div>
        <div>{{post.title}}</div>
        <div>{{post.content}}</div>
        </p>
    </div>
    {{/each}}

    <button id="new-button">New Post</button>

    <div id="createPostModal" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <form class="mx-auto post-form">
                <label>Title</label>
                <input type="text" id="title-post" class="form-control mb-2">
                <label>Content</label>
                <input type="text" id="content-post" class="form-control mb-2">
                <input type="submit" value="Create" class="btn btn-primary mb-3" id="newPostButton">
            </form>
        </div>
    </div>

    <script src="/logout.js"></script>
    <script src="/homepage.js"></script>