<div class="row">
    <h1>Syntax Social</h1>
    <h2>Login</h2>

    <!-- Login form -->
    <form class="form login-form">
        <div class="form-group">
            <!-- Email input -->
            <label for="email-login">Email:</label>
            <input class="form-input" type="text" id="email-login" />
        </div>
        <div class="form-group">
            <!-- Password input -->
            <label for="password-login">Password:</label>
            <input class="form-input" type="password" id="password-login" />
        </div>
        <div class="form-group">
            <!-- Login button -->
            <button class="btn btn-primary" type="submit">Login!</button>
        </div>
        <div class="form-group">
            <!-- Link to signup page -->
            <a class="btn btn-primary" type="create" href="/signup">Create an account!</a>
        </div>
    </form>
</div>

<!-- Placeholder for additional content -->
<div class="col-md-6">
    <script src="/login.js"></script>
</div>
