<div class="row">
    <h1>Signup</h1>

    <form class="form signup-form">
    <div class="form-group">
        <label for="name-signup">Name:</label>
        <input class="form-input" type="text" id="user-signup" />
    </div>
    <div class="form-group">
        <label for="email-signup">Email:</label>
        <input class="form-input" type="text" id="email-signup" />
    </div>
    <div class="form-group">
        <label for="password-signup">Password:</label>
        <input class="form-input" type="password" id="password-signup" />
    </div>
        <div class="form-group">
        <label for="password-repeat">Retype Password:</label>
        <input class="form-input" type="passwordCheck" id="password-repeat" />
    </div>
    <div class="form-group">
        <button class="btn btn-primary" type="submit">Signup!</button>
    </div>
    </form>
</div>
</div>
<script src="/signup.js"></script>
