body {
    text-align: center;
    background: linear-gradient(#0437F2, black);
    color: white;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
}
.col-md-6 {
    width: 48%;
    float: left;
    margin-bottom: 20px;
}

.form {
    max-width: 300px;
    margin: 0 auto;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
}

.form-input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.btn {
    display: inline-block;
    padding: 8px 12px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border: 1px solid #6034db;
    border-radius: 4px;
    color: #ffffff;
    background-color: #000000;
}

.btn-primary {
    background-color: #000000;
}
.post-card {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

.post-card h3 {
    margin-bottom: 5px;
}

.post-card pre {
    background-color: #f4f4f4;
    padding: 10px;
    border-radius: 5px;
}

.post-card p {
    margin-bottom: 10px;
}

.post-card button {
    background-color: #4CAF50;
    color: white;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.post-card .likes-count {
    display: block;
    margin-top: 10px;
}

.post-card ul.comments {
    list-style-type: none;
    padding: 0;
}

.post-card ul.comments li {
    margin-bottom: 5px;
}

.comment-input {
    width: 80%;
    padding: 5px;
    margin-top: 10px;
}

.comment-btn {
    background-color: #008CBA;
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 5px;
}